/********** SHIPPING INFORMATION PAGE **********/
#ship-info .content-container {
    background-color: #ffffff;
}

#ship-info .content-text {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 60px 0 80px 0;
}

#ship-info .content-text h1 {
    font-size: 45px;
    margin: 0;
    margin-bottom: 45px;
}

#ship-info .content-text img {
    width: 65%;
}

#ship-info .content-text .ship-desc {
    width: 65%;
    margin: 0 auto;
    text-align: left;
    margin-top: 35px;   
}

#ship-info .content-text p {
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
}
/**********  **********/

/********** FAQ PAGE **********/
#faq .content-container {
    background-color: #ffffff;
}

#faq .content-text {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 60px 0 80px 0;
}

#faq .content-text h1 {
    font-size: 45px;
    margin: 0;
    margin-bottom: 45px;
}

#faq .content-text img {
    width: 65%;
}

#faq .content-text .ship-desc {
    width: 65%;
    margin: 0 auto;
    text-align: left;
    margin-top: 35px;   
}

#faq .content-text p {
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    line-height: 25px;
}
/**********  **********/