
body {
    height: 100%;
    margin: 0 auto;
}

body, option, input, button, select, textarea {
    font-family: 'Muli';
}

input, button, select, textarea {
    outline: none;
}

/*
COLOURS
black #000000
grey(d to l) #1e2022 #52616b #657786 #c9d6df #aab8c2 #e1e8ed #eeeeee
white #f0f5f9 #f5f8fa #ffffff
*/

/********** GENERAL HEADER **********/
.header {
    background-color: #000000;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header .header-content {
    width: 95%;
    margin: 0 auto;
}

.header .header-logo {
    float: left;
    line-height: 90px;
}

.header .header-logo img {
    height: 70px;
    vertical-align: middle;
}

.header .navbar {
    float: right;
    display: flex;
}

.header .navbar-generic ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header .navbar-generic ul li {
    list-style-type: none;
    float: left;
    transition: 0.3s;
    height: 90px;
    line-height: 90px;
}

.header .navbar-generic ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.header .navbar-menus ul li {
    border-bottom: 4px solid transparent;
    width: 110px;
}

.header .navbar-menus ul li:hover {
    border-bottom: 4px solid #ffffff;
    background-color: #1e2022;
}

.header .navbar-menus ul li.active {
    border-bottom: 4px solid #ffffff;
    background-color: #1e2022;
}

.header .navbar-menus ul li a {
    display: block;
    letter-spacing: 2px;
}

.header .navbar-menus ul li ul {
    display: none;
    position: absolute;
    background-color: #aaaaaa;
    margin-top: 5px;
}

.header .navbar-menus ul li:hover ul {
    display: block;
}

.header .navbar-menus ul li ul li {
    width: 100%;
    padding: 0;
    height: 60px;
    line-height: 60px;
    border-bottom: none;
}

.header .navbar-menus ul li ul li:hover {
    background-color: #cdcdcd;
    border-bottom: none;
}

.header .navbar-menus ul li ul li a {
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.header .navbar-icons ul {
    margin-left: 40px;
}

.header .navbar-icons ul li {
    margin: 0 10px;
}

.header .navbar-icons i {
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
}

.header .icon {
    display: none;
    width: 7vw;
    float: left;
    height: 90px;
    line-height: 90px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

.header .navbar-resp {
    display: none;
    background-color: #1e2022;
    width: 100%;
}

.header .navbar-resp ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header .navbar-resp ul li {
    list-style-type: none;
    transition: 0.3s;
    height: 90px;
    line-height: 90px;
}

.header .navbar-resp ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.header .navbar-resp ul li:hover {
    background-color: #000000;
}

.header .navbar-resp ul li.active {
    background-color: #000000;
}

.header .navbar-resp ul li a {
    display: block;
    letter-spacing: 2px;
}

.header .navbar-resp ul .submenu {
    display: none;
    background-color: #aaaaaa;
}

.header .navbar-resp ul .submenu li:hover {
    background-color: #cdcdcd;
}

.header .navbar-resp ul .submenu li a {
    font-size: 13px;
}

@media only screen and (max-width: 620px) {
    .clear { 
        clear: both;
    }

    .header .header-content {
        width: 100%;
    }

    .header .header-logo {
        float: none;
        text-align: center;
        display: inline;
    }

    .header .header-logo img {
        height: auto;
        width: 40vw;
    }

    .header .navbar-menus {
        display: none;
    }

    .header .navbar-icons ul {
        margin-left: 3vw;
    }

    .header .navbar-icons ul li {
        margin: 0 2vw;
    }

    .header .icon {
        display: block;
    }

    .header .navbar-resp.responsive {
        display: block;
    }
}
/**********  **********/

/********** GENERAL FOOTER **********/
.footer {
    background-color: #1e2022;
    margin: 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

.footer .footer-info {
    padding-top: 25px;
}

.footer .footer-info a {
    display: inline-block;
    text-decoration: none;
    color: #c9d6df;
    opacity: 0.3;
    transition: 0.4s;
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

.footer .footer-info a:hover {
    opacity: 1;
    transition: 0.4s;
    color: #ffffff;
}

.footer .footer-info a.active {
    opacity: 1;
    transition: 0.4s;
    color: #ffffff;   
}

.footer .footer-copyright {
    padding: 25px 0 10px 0;
}

.footer .footer-copyright p {
    color: #ffffff;
    font-size: 14px;
}

@media only screen and (max-width: 620px) {
    .footer .footer-info {
        padding-top: 20px;
    }

    .footer .footer-info a {
        display: block;
        margin: 15px 0;
        font-size: 14px;
    }

    .footer .footer-copyright {
        padding: 10px 0;
    }

    .footer .footer-copyright p {
        font-size: 12px;
    }
}
/********** **********/